.order-container {
  border-radius: 10px;
  width: 600px;
  background-color: #fff;
  margin: 10px;
  box-shadow: 0 0 20px rgba(1, 0, 0, 0.1);
  padding: 0 10px;
  position: relative;
}

.order-product-image {
  height: 170px;
  background-color: bisque;
}

.main-container {
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
}

.show-status{
    position: absolute;
    top: 0;
    right: 0px;
    color: #fff;
    padding: 3px 10px;
    border-radius: 0 5px ;

}
