.buy-product-image{
    width: 300px;
    border-radius: 15px;
    background-color: #fff;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 15px;
}

.buy-product-container{
    padding: 20px 100px;
}

.buy-product-info{
    display: flex;

}

.btn-decrease-quantity{
    background-color: #fff;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;

}
.btn-increase-quantity{
    background-color: #fff;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.quantity-text{
    font-weight: bold;

}

.btn-container{
    display: 1;
 margin: 0 auto;
 background-color: #fff;
 border-radius: 5px;
}

.input-box-field{
    width: 400px;
    padding: 20px;
    outline: none;
    border-radius: 10px;
    border: 1px solid lightgrey !important;
}
@media screen and (max-width:768px) {
    .buy-product-container{
        padding: 10px;     
    }

    .buy-product-image{
        width: 100%;
        display: block;
        margin: 10px auto;
    }
    
}