/* .signup{
    background-color: #fff;
    padding: 20px;
    margin-top: 50px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px 2px gray;
}

.signup-restro-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
}
.signup-quote{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
} */